/* common */

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(240, 237, 198, 0.267);
}

img {
  vertical-align: bottom;
}

h1,
h2 {
  margin: 0;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#to_top {
  position: fixed;
  bottom: 16px;
  right: 16px;
  opacity: 0;
  transition: opacity .3s;
}

#to_top.scrolled {
  opacity: 1;
}

#to_top i {
  font-size: 48px;
  color: rgb(60, 136, 148);
}

/* header */

header {
  display: flex;
  
  /* background: rgba(79, 168, 180, 0.664); */
  background: rgba(135, 211, 221, 0.664);
  position: fixed;
  top: 0;
  width: 100%;
  height: 78px;
  transition: background-color .4s, box-shadow .4s;
}

header .container {
  margin: 0 8px;
  display: flex;
}

header img {
  margin: 2px 0 0 10px ;
  width: 130px;
  object-fit: cover;
}

header.scrolled {
  background-color: rgba(79, 168, 180, 0.322);
  box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}

.sp-menu {
  margin: 0;
  margin-left: auto;
}

.sp-menu #open {
  font-size: 32px;
  line-height: 64px;
  padding-right: 28px;
  cursor: pointer;
}

.sp-menu::after {
  content: "MENU";
  position: absolute;
  top: 48px;
  right: 26px;
  font-size: 12px;
  padding-top: 3px;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 28px;
  font-size: 32px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(255, 255, 255);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.overlay::after {
  content: "CLOSE";
  position: absolute;
  top: 42px;
  right: 22px;
  font-size: 12px;
  padding-top: 3px;
}


.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay ul {
  margin: 0;
  padding: 0;
}

.overlay li {
  margin: 24px auto;
  width: 140px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}

.overlay.show li {
  opacity: 1;
  color: #000000;
  border-bottom: solid 4px rgba(79, 168, 180, 0.664);
}

.overlay.show li:hover {
 opacity: 0.6;
 /* animation-name: move; */
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .3s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .5s;
}

.overlay img {
  margin: 0;
  width: 28px;
}

.overlay img:hover {
  animation-name: move;
  animation-duration: .8s;
  animation-iteration-count: infinite;
}

@keyframes move {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translate(0px);
  }
}

.overlay a {
  color: #333;
}

.pc-menu {
  display: none;
}

form {
  display: none;
}

/* hero */

.hero {
  padding: 24px 0px;
  padding-top: 128px;
  height: 400px;
}

/* .hidden_hero {
  position: initial;
} */

.hero h1 {
  font-size: 38px;
  text-align: center;
  font-weight: normal;
}

.hero img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: opacity 1s;
}


.hero img.current {
  opacity: 1;
}

@media (min-width: 800px) {
  .hero {
    height: 600px;
  }

  .hero h1 {
    font-size: 56px;
  }
  
  .hero img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    padding-bottom: 400px;
  }
}

/* main */

.main {
  padding: 0 auto;
}

.main ul {
  margin-bottom: 24px;
}

.main img {
  width: 50px;
  height: 50px;
}

.main h2 {
  font-size: 28px;
  margin: 10px;
}

.list li {
  display: flex;
  align-items: center;
  font-size: 32px;
  margin-top: 24px;
  margin-left: auto;
}

.list li + li{
  margin-top: 16px;
}

.list a {
  font-size: 24px;
  color: #000000;
}

.animate {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity .3s, transform .3s;
}

.animate.appear {
  opacity: 1;
  transform: none;
}

.main-list a {
  display: flex;
}

.main-list:before {
  content:'''';
  background-color: rgb(79, 168, 180);
  width: 12px;
  height: 42px;
}

/* footer */
#footer {
  padding: 220px 50px 0 50px;
  background: url(../img/dog_footer.png) no-repeat top/contain;
}

.footer_area {
  justify-content: space-between;
  /* display: flex; */
  /* background-color: aquamarine; */
}

.footer_area ul {
  border-top: 1px solid #000;
}

.footer_area li {
  margin-top: 10px;
}

.footer_area li::before {
  content: "-";
  margin-right: 8px;
}

.footer_area a,
.footer_area li {
  color: rgb(139, 139, 114);
  transition: .4s;
}

.footer_area a:hover {
  color: rgb(7, 7, 114);
}

.link {
  display: flex;
}

.link ul {
  display: flex;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.link li {
  margin: 8px;
}

.link i {
  font-size: 24px;
  color: #333;
  transition: .5s;
  padding: 4px;
}

#twitter,
#facebook {
  border-radius: 50%;
}

#instagram,
#youtube   {
  border-radius: 5px;
}

#twitter:hover {
  background: #00acee;
  color: #eee;
}

#instagram:hover {
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
} 

#facebook:hover {
  background: #3b5998;
  color: #eee;
}

#youtube:hover {
  background: #c4302b;
  color: #eee;
}

#footer small {
  display: block;
  font-size: 16px;
  margin: 24px;
  text-align: center;
}

.backhome {
  display: block;
  text-align: center;
  line-height: 24px;
  width: 200px;
  height: 16px;
  padding: 30px 24px;
  margin: 0 auto;
  font-size: 18px;
  color: #eee;
  background-color: rgb(60, 136, 148);
  border-radius: 5px;
}

@media (min-width: 700px) {
  .footer_area {
    display: flex;
    text-align: left;
  }

  .footer_area ul {
    border-top: none;
    margin-right: auto;
    margin-left: auto;
  }
}

/* pc-menu */

@media (min-width: 800px) {
  .pc-menu {
    display: block;
    margin-left: auto;
    display: flex;
    font-size: 18px;
  }

  ul.drpomenu {
    list-style-type: none;
    margin-top: 24px;
    padding: 0 12px;
    display: flex;
  }

  ul.dropmenu li {
    display: flex;
  }

  ul.dropmenu > li {
    display: inline-block;
  }

  ul.dropmenu ul {
    display: none;
    position: absolute;
    margin-left: -400px;
  }

  ul.dropmenu > li:hover ul {
    display: block;
  }

  ul.dropmenu a {
    display: block;
    line-height: 64px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    opacity: .6;
    transition: .3s;
  }

  .dropmenu a:hover {
    opacity: 1;
  }

  .dropmenu a::after {
    content: "/";
    padding: 12px;
  }

  ul.second {
    background-color: rgb(189, 225, 236);
    /* background-color: rgb(240, 182, 106); */
    border-radius: 5px;
    height: 90px;
  }

  ul.second > li {
    display: inline-block;
    margin-top: 12px;
  }

  .sp-menu {
    display: none;
  }
  
  header form {
    text-align: right;
    display: block;
  }
  
  header input {
    all: unset;
  }
  
  #saerch_button {
    all: unset;
    display: inline-block;
    width: 38px;
    height: 38px;
    border: 1px solid #333;
    margin: 20px 60px 0 40px;
    border-radius: 5px;
  }
  
  i {
    position: relative;
    right: 10px;
    top: 8px;
    cursor: pointer;
  }
  
  #hidden_input {
    border-bottom: 1px solid #000;
    width: 120px;
    height: 38px;
    text-align: left;
    margin: 0 30px 0 -60px;
    /* animation-name: move_input;
    animation: .6s fadeIn; */
  }
  
  #hidden_input.hidden {
    display: none;
  }

  /* hero */
  .hero {
    margin-bottom: 80px;
  }

  /* pc-main */

  .main ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 32px;
    margin: auto;
  }

  .main-list img {
    display: none;
  }

  .list li {
    /* margin: 0 auto; */
    background-color: rgba(232, 236, 241, 0.658);
    /* background-color: rgba(21, 116, 233, 0.658); */
    margin-top: 302px;
    padding-bottom: 10px;
    
  }

  .list h1 {
    font-size: 46px;
    display: block;
    text-align: center;
  }

  .list ul {
    margin-bottom: 50px;
    padding-right: 40px;
  }

  .list1 {
    width: calc((100% - 64px) / 3);
    transition: .6s border-radius;
    height: 380px;
    cursor: pointer;
    background-size: 30%;
  }

  .onion {
    background: url(../img/onion.jpg) no-repeat center/cover;
  }

  .grape {
    background: url(../img/grape2.jpg) no-repeat center/cover;
  }

  .seafood {
    background: url(../img/seafood.jpg) no-repeat center/cover;
  }

  .chocolate {
    background: url(../img/chocolate2.jpg) no-repeat center/cover;
  }

  .meat {
    background: url(../img/meat2.jpg) no-repeat center/cover;
  }

  .nuts {
    background: url(../img/nuts2.jpg) no-repeat center/cover;
  }

  .list1:hover {
    border-radius: 15%;
    transform: scale(1.08);
  }

  .main-list h1 {
    margin-left: 160px;
  }

  .main-list:before {
    display: none;
  }

  .list2 li {
    display: none;
  }

  /* footer */
  #footer {
    padding: 300px 70px 0 70px;
  }
}

@media (min-width: 1000px) {
  #footer {
    padding: 420px 70px 0 70px;
  }
}

@media (min-width: 1200px) {
  #footer {
    padding: 500px 70px 0 70px;
  }
}